html {
  font-size: 55%;

  @media (max-width: 900px) {
    font-size: 45%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555;
  background-color: rgb(94, 3, 3);
  background-color: rgb(23, 3, 94);
  font-family: "Press Start 2P", sans-serif;
  font-size: 2rem;
  color: white;
  line-height: 1.6;
  letter-spacing: 1px;
}

h1 {
  line-height: 1.3;
}
